:root {
    --background-color: rgb(245, 245, 247);
    --text-color1: #1D1D1F;
    --text-color2: #6E6E73;
    --btn-color: #007AFF;
    --label-color1: #000;
    --label-color2: #3C3C4399;
    --fill-color3: #7676801F;
    --text-size-28: 28px;
    --text-size-17: 17px;
    --text-size-14: 14px;
    --box-shadow-basic: 2px 4px 12px rgba(0, 0, 0, .08);
    --box-shadow-hover: 2px 4px 16px rgba(0, 0, 0, .16);
    --box-color: #fff;
    --th-color: rgb(245, 246, 250);
    --font-color-title: #212b40;
    --font-color-th: #868d9e;
    --font-color-td: #3f4757;
    --padding: #040404;
}

@font-face {
    font-family: AppleSDGothicNeoB;
    src: url(/font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoEB;
    src: url(/font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoH;
    src: url(/font/AppleSDGothicNeoH.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoL;
    src: url(/font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoM;
    src: url(/font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoR;
    src: url(/font/AppleSDGothicNeoR.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoSB;
    src: url(/font/AppleSDGothicNeoSB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoT;
    src: url(/font/AppleSDGothicNeoT.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoUL;
    src: url(/font/AppleSDGothicNeoUL.ttf);
}


/* 공용 */
* {
    margin: 0;
    padding: 0;
    color: var(--text-color1);
    font-family: AppleSDGothicNeoM;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 커스텀 */
.wrapper {
    width: 100%;
    height: 100vh;
    position: relative !important;
    background: var(--background-color);
}

.bg {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 56px;
    color: var(--text-color1);
    background: var(--box-color);
    display: flex;
    align-items: center;
}

.logo_name {
    margin-left: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

nav {
    width: calc(100% - 120px - 120px);
    /* logo_name, user_section 150px 뺌 */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    padding: 10px;
    margin: 0 1vw;
}

.menu li a {
    font-size: 14px;
    font-weight: 400;
}

/* .user_section {
    margin-right: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40
}

.user_name {
    font-size: 14px;
    font-weight: 400;
} */

/* 헤더 끝 */

/* 메인 */
section {
    width: 1340px;
    height: calc(100% - 56px);
}

.top {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--box-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow-basic);
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sorting {
    border: none;
    margin: 5px;
    color: var(--label-color2);
    background: transparent;
    font-size: 13px;
    font-weight: 600;
}

.sorting_between {
    color: var(--label-color2);
}

.menu_select {
    color: var(--label-color1);
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.btn_excel {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: green;
    color: var(--box-color);
    border: 1px solid green;
    border-radius: 6px;
    font-weight: 400;
}

.input {
    background: var(--fill-color3);
    border: 1px solid var(--fill-color3);
    color: var(--label-color2);
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
}

.select{
    width: 80px;
    height: 32px;
    margin-left: 10px;
}

.date1 {
    width: 130px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.date2 {
    width: 130px;
    height: 32px;
    margin-left: 10px;
}

.btn_search {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: var(--btn-color);
    color: var(--box-color);
    border: 1px solid var(--btn-color);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}

.btn_today {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: var(--btn-color);
    color: var(--box-color);
    border: 1px solid var(--btn-color);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}


.pc_table {
    width: 100%;
    height: calc(100% - 56px - 200px - 30px) !important;
    box-shadow: var(--box-shadow-basic);
}

.thead {
    width: 100%;
    height: 40px;
    background: var(--box-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
}

.thead_item {
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--font-color-th);
}

.row_box {
    width: 100%;
    height: 780px;
    border-end-start-radius: 6px;
    border-end-end-radius: 6px;
    overflow-y: scroll;
}

.row_box::-webkit-scrollbar {
    display: none;
}

.row {
    width: 100%;
    height: 40px;
    background: var(--box-color);
    display: flex;
    align-items: center;
    border-top: 2px solid var(--background-color);
}

.row_item {
    width: 100px;
    display: flex;
    justify-content: center;
}

.thin {
    font-weight: 500;
    font-size: 13px;
}

.bold {
    font-weight: 700;
    font-size: 14px;
}

.badge_ok {
    color: green;
    /* color: var(--box-color);
    background: green; */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.badge_ng {
    color: red;
    /* color: var(--box-color);
    background: rgb(207, 27, 27); */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.badge_no {
    width: 50px;
    height: 20px;
    color: var(--btn-color);
    /* color: var(--box-color);
    background: rgb(77, 77, 77); */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.row_none {
    width: 100%;
    height: 780px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: var(--box-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    line-height: 100px;
}

.contents_master{
    color: green;
font-size:17px;
font-weight:600;
}

.contents_normal{
    color: var(--text-color1);
font-size:17px;
font-weight:600;
}

.contents_error{
    color: var(--btn-color);
font-size:17px;
font-weight:600;
}

.contents_data{
    color: var(--text-color1);
}

.mobile_table {
    display: none;
}

/* 메인 끝 */

/* 모바일 */
@media (max-width: 767px) {

    /* 공용 */
    * {
        margin: 0;
        padding: 0;
        color: var(--text-color1);
        font-family: AppleSDGothicNeoM;
        font-size: 10px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    /* 커스텀 */
    .wrapper {
        width: 100%;
        height: 100vh;
        position: relative !important;
        background: var(--background-color);
    }

    .bg {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
        height: 56px;
        color: var(--text-color1);
        background: var(--box-color);
        display: flex;
        align-items: center;
    }

    .logo_name {
        margin-left: 20px;
        width: 150px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
    }

    nav {
        width: 100%;
        /* logo_name, user_section 150px 뺌 */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        width: calc(100% - 150px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu li {
        padding: 5px;
        margin: 0 1vw;
    }

    .menu li a {
        font-size: 14px;
        font-weight: 400;
    }

    /* 헤더 끝 */

    section {
        width: 100% !important;
        height: calc(100% - 56px);
    }

    .top {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section1 {
        width: calc(100% - 10px);
        height: 50%;
        display: flex;
        align-items: baseline;
        justify-content: flex-start !important;
        margin-top: 6px;
    }

    .section2 {
        border-radius: 18px;
        min-width: 200px;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .btn_excel {
        width: 54px;
        height: 32px;
        font-size: 12px;
        background: green;
        color: var(--box-color);
        border: 1px solid green;
        border-radius: 6px;
        font-weight: 400;
        margin-left: 10px;
    }

    .input {
        background: var(--fill-color3);
        border: 1px solid var(--fill-color3);
        color: var(--label-color2);
        font-weight: 600;
        border-radius: 6px;
        text-align: center;
        font-size: 10px;
    }

    .select {
        width: 100px;
        height: 32px;
        margin-left: 10px;
    }

    .date1 {
        width: 100px;
        height: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .date2 {
        width: 100px;
        height: 32px;
        margin-left: 10px;
    }

    .btn_search {
        width: 54px;
        height: 32px;
        font-size: 12px;
        background: var(--btn-color);
        color: var(--box-color);
        border: 1px solid var(--btn-color);
        border-radius: 6px;
        margin-left: 10px;
        font-weight: 400;
    }

    .btn_today {
        width: 54px;
        height: 32px;
        font-size: 12px;
        background: var(--btn-color);
        color: var(--box-color);
        border: 1px solid var(--btn-color);
        border-radius: 6px;
        margin-left: 10px;
        font-weight: 400;
    }

    .pc_table {
        display: none;
        width: 100%;
        height: calc(100% - 56px - 200px - 30px) !important;
        box-shadow: var(--box-shadow-basic);
    }

    .thead {
        width: 100%;
        height: 40px;
        background: var(--box-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: flex;
        align-items: center;
    }

    .thead_item {
        width: 100px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: var(--font-color-th);
    }

    .row_box {
        width: 100%;
        height: 625px;
        overflow-y: scroll;
    }

    .row_box::-webkit-scrollbar {
        display: none;
    }

    .row {
        width: 100%;
        height: 40px;
        background: var(--box-color);
        display: flex;
        align-items: center;
        border-top: 2px solid var(--background-color);
    }

    .row_box {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .row1 {
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row2 {
        height: 50%;
        display: flex;
        flex-direction: row;
        border-top: 2px solid var(--background-color);
        justify-content: center;
        align-items: center;
    }

    .row_item {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .thin {
        font-weight: 500;
        font-size: 10px !important;
    }

    .bold {
        font-weight: 700;
        font-size: 10px !important;
    }

    .merge {
        width: 228.3px !important;
    }

    .badge_ok {
        color: green;
    }

    .badge_ng {
        color: var(--btn-color);
    }

    .badge_no {
        color: var(--btn-color);
    }

    .badge_ok_m {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
    }

    .badge_ng_m {
        width: 10px;
        height: 10px;
        background-color: rgb(214, 55, 55);
        border-radius: 50%;
    }

    .badge_no_m {
        width: 10px;
        height: 10px;
        background-color: rgb(70, 70, 70);
        border-radius: 50%;
    }

    .row_none {
        width: 100%;
        height: 625px;
        display: flex;
        text-align: center;
        justify-content: center;
        background: var(--box-color);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        line-height: 100px;
    }
.contents_master{
    color: green;
font-size:10px;
font-weight:600;
}

.contents_normal{
    color: var(--text-color1);
font-size:10px;
font-weight:600;
}

.contents_error{
    color: var(--btn-color);
font-size:10px;
font-weight:600;
}

    .contents_data {
        color: var(--text-color1);
        font-size: 10px !important;
    }

    .mobile_table {
        display: block;
    }
}

/* 모바일 끝 */