:root {
    --background-color: rgb(245, 245, 247);
    --text-color1: #1D1D1F;
    --text-color2: #6E6E73;
    --btn-color: #007AFF;
    --label-color1: #000;
    --label-color2: #3C3C4399;
    --fill-color3: #7676801F;
    --text-size-28: 28px;
    --text-size-17: 17px;
    --text-size-14: 14px;
    --box-shadow-basic: 2px 4px 12px rgba(0, 0, 0, .08);
    --box-shadow-hover: 2px 4px 16px rgba(0, 0, 0, .16);
    --box-color: #fff;
    --th-color: rgb(245, 246, 250);
    --font-color-title: #212b40;
    --font-color-th: #868d9e;
    --font-color-td: #3f4757;
    --padding: #040404;
}

@font-face {
    font-family: AppleSDGothicNeoB;
    src: url(/font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoEB;
    src: url(/font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoH;
    src: url(/font/AppleSDGothicNeoH.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoL;
    src: url(/font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoM;
    src: url(/font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoR;
    src: url(/font/AppleSDGothicNeoR.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoSB;
    src: url(/font/AppleSDGothicNeoSB.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoT;
    src: url(/font/AppleSDGothicNeoT.ttf);
}

@font-face {
    font-family: AppleSDGothicNeoUL;
    src: url(/font/AppleSDGothicNeoUL.ttf);
}


/* 공용 */
* {
    margin: 0;
    padding: 0;
    color: var(--text-color1);
    font-family: AppleSDGothicNeoM;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 커스텀 */
.wrapper {
    width: 100%;
    height: 100vh;
    position: relative !important;
    background: var(--background-color);
}

.bg {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 56px;
    color: var(--text-color1);
    background: var(--box-color);
    display: flex;
    align-items: center;
}

.logo_name {
    margin-left: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

nav {
    width: calc(100% - 120px - 120px);
    /* logo_name, user_section 150px 뺌 */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    padding: 10px;
    margin: 0 1vw;
}

.menu li a {
    font-size: 14px;
    font-weight: 400;
}

/* .user_section {
    margin-right: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40
}

.user_name {
    font-size: 14px;
    font-weight: 400;
} */

/* 헤더 끝 */

/* 메인 */
section {
    width: 1340px;
    height: calc(100% - 56px);
}

.top {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--box-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow-basic);
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sorting {
    border: none;
    margin: 5px;
    color: var(--label-color2);
    background: transparent;
    font-size: 13px;
    font-weight: 600;
}

.sorting_between {
    color: var(--label-color2);
}

.menu_select {
    color: var(--label-color1);
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.section2_label {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.input {
    width: 200px;
    height: 32px;
    background: var(--fill-color3);
    border: 1px solid var(--fill-color3);
    color: var(--label-color2);
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
}

.input_hidden {
    display: none;
}

.btn_submit {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: var(--btn-color);
    color: var(--box-color);
    border: 1px solid var(--btn-color);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}

.btn_edit {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: var(--fill-color3);
    color: var(--btn-color);
    border: 1px solid var(--fill-color3);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}

.btn_delete {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: rgb(228, 58, 58);
    color: var(--box-color);
    border: 1px solid rgb(228, 58, 58);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}

.btn_today {
    width: 54px;
    height: 32px;
    font-size: 12px;
    background: var(--btn-color);
    color: var(--box-color);
    border: 1px solid var(--btn-color);
    border-radius: 6px;
    margin-left: 10px;
    font-weight: 400;
}


.table {
    width: 100%;
    height: calc(100% - 56px - 200px - 30px) !important;
    box-shadow: var(--box-shadow-basic);
}

.thead {
    width: 100%;
    height: 40px;
    background: var(--box-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.thead_item {
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--font-color-th);
}

.row_box {
    width: 100%;
    height: 780px;
    border-end-start-radius: 6px;
    border-end-end-radius: 6px;
    overflow-y: scroll;
    background: var(--box-color);
}

.row_box::-webkit-scrollbar {
    display: none;
}

.row {
    width: 100%;
    height: 40px;
    background: var(--box-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid var(--background-color);
}

.row_item {
    width: 200px;
    display: flex;
    justify-content: center;
}

.thin {
    font-weight: 500;
    font-size: 13px;
}

.bold {
    font-weight: 700;
    font-size: 14px;
}

.row_none {
    width: 100%;
    height: 780px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: var(--box-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    line-height: 100px;
}

.mobile_table {
    display: none;
}

/* 메인 끝 */

/* 모바일 */

@media (max-width: 767px) {

    /* 공용 */
    * {
        margin: 0;
        padding: 0;
        color: var(--text-color1);
        font-family: AppleSDGothicNeoM;
        font-size: 10px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    /* 커스텀 */
    .wrapper {
        width: 100%;
        height: 100vh;
        position: relative !important;
        background: var(--background-color);
    }

    .bg {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
        height: 56px;
        color: var(--text-color1);
        background: var(--box-color);
        display: flex;
        align-items: center;
    }

    .logo_name {
        margin-left: 20px;
        width: 150px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
    }

    nav {
        width: 100%;
        /* logo_name, user_section 150px 뺌 */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        width: calc(100% - 150px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu li {
        padding: 5px;
        margin: 0 1vw;
    }

    .menu li a {
        font-size: 14px;
        font-weight: 400;
    }

    /* 헤더 끝 */

    /* 메인 */
    section {
        width: 100vw;
        height: calc(100% - 56px);
    }

    .top {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        background: var(--box-color);
        border-radius: 6px;
        box-shadow: var(--box-shadow-basic);
    }

    .section1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .sorting {
        border: none;
        margin: 5px;
        color: var(--label-color2);
        background: transparent;
        font-size: 13px;
        font-weight: 600;
    }

    .sorting_between {
        color: var(--label-color2);
    }

    .menu_select {
        color: var(--label-color1);
    }

    .section2 {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }

    form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .section2_label {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }

    .input {
        width: 100%;
        height: 32px;
        background: var(--fill-color3);
        border: 1px solid var(--fill-color3);
        color: var(--label-color2);
        font-weight: 600;
        border-radius: 6px;
        text-align: center;
        font-size: 10px;
        margin-left: 5px;
    }

    .section2 form .input {
        margin-left: 10px;
    }

    .input_hidden {
        display: none;
    }

    .btn_submit {
        width: 54px;
        height: 32px;
        font-size: 12px;
        background: var(--btn-color);
        color: var(--box-color);
        border: 1px solid var(--btn-color);
        border-radius: 6px;
        margin-left: 10px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn_edit {
        width: 40px;
        height: 32px;
        font-size: 12px;
        background: var(--fill-color3);
        color: var(--btn-color);
        border: 1px solid var(--fill-color3);
        border-radius: 6px;
        margin-left: 5px;
        font-weight: 400;
    }

    .btn_delete {
        width: 40px;
        height: 32px;
        font-size: 12px;
        background: rgb(228, 58, 58);
        color: var(--box-color);
        border: 1px solid rgb(228, 58, 58);
        border-radius: 6px;
        margin-left: 5px;
        font-weight: 400;
        margin-right: 15px;
    }

    .btn_today {
        width: 54px;
        height: 32px;
        font-size: 12px;
        background: var(--btn-color);
        color: var(--box-color);
        border: 1px solid var(--btn-color);
        border-radius: 6px;
        margin-left: 10px;
        font-weight: 400;
    }


    .table {
        width: 100%;
        height: calc(100% - 56px - 200px - 30px) !important;
        box-shadow: var(--box-shadow-basic);
    }

    .thead {
        width: 100%;
        height: 40px;
        background: var(--box-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .thead_item {
        width: 100px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: var(--font-color-th);
    }

    .row_box {
        width: 100%;
        height: 52vh;
        border-end-start-radius: 6px;
        border-end-end-radius: 6px;
        overflow-y: scroll;
        background: var(--box-color);
    }

    .row_box::-webkit-scrollbar {
        display: none;
    }

    .row {
        width: 100%;
        height: 40px;
        background: var(--box-color);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 2px solid var(--background-color);
    }

    .row_item {
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .thin {
        font-weight: 500;
        font-size: 13px;
    }

    .bold {
        font-weight: 700;
        font-size: 14px;
    }

    .row_none {
        width: 100%;
        height: 780px;
        display: flex;
        text-align: center;
        justify-content: center;
        background: var(--box-color);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        line-height: 100px;
    }

    .mobile_table {
        display: none;
    }

    /* 메인 끝 */

}

/* 모바일 끝 */